body
{
	margin: 0;
	background-color: #26282E;
	color: #fffc9a;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

a:link    { color: #fffc99; text-decoration: none; }
a:visited { color: #fffc9a; }
a:active  { color: #fffc9a; }
a:hover   { color: #E9B64A; }

h1
{
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 5px;
	margin-top: 20px;
	margin-bottom: 0;
}

p
{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 25px;
	letter-spacing: 2px;
}

.board
{
/* 	border: 1px solid yellow; */

	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.cardA
{
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 3px;
	background-image: url("img/back.jpg");
	border: 4px solid #E9B64A;
	border-radius: 4px;
	cursor: default;
	filter: brightness(100%); /* nowy przełącznik */
	transition: all .3s ease-in-out; /* stary transition */
}

.card
{
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 3px;
	background-image: url("img/back.jpg");
	border: 4px solid #075299;
	border-radius: 4px;
	cursor: pointer;
	filter: brightness(70%); /* nowy przełącznik */
	transition: all .3s ease-in-out; /* stary transition */
}

.card:hover
{
	border: 4px solid #E9B64A;
	filter: brightness(100%);
}


.score
{
	margin-top: 5px;
	letter-spacing: 2px;
}
.reset
{
	color: #075299;
	cursor: pointer;
	font-size: 48px;
}
.reset:hover
{
	color: white;
}